*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(152, 152, 226);
}
.main{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calm{
    /* width: 450px;
    height: 550px; */
    background-color: black;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgb(230, 228, 211);
}
form input{
    width: 80px;
    height: 80px;
    border-radius: 70%;
    margin: 4px;
    font-size: 25px;
    color: white;
    background-color: rgb(51, 43, 43);
    border: none;
    cursor: pointer;

}


#equle{
    background-color: orange;
    border-radius: 20px;
    width: 170px;
}
#display{
    border-radius: 0px;
    width: 99%;
    margin: 0px;
    outline: 0px;
    font-size: 29px;
    text-align: end;
    color: white;
    background-color:black;
    border-radius: 5px;
    border: 2px solid black;
    /* box-shadow: 0px 0px 0px 0px white; */
}
.bcg{
    background-color: gray;
    color:black;

}
.bco{
    background-color: orange;
    color: black;
}
